@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body::before { /* Padrão Body */
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100%;
    background-color: var(--cor-background-color);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    filter: blur(15px); 
    z-index: -1;
}


#texto{
    color: black;
}

.container .container-sm .table-responsive table tbody tr td img{
    width: 15vw;
}
